//
// Variables
// --------------------------------------------------

// Navbar Scroll
// --------------------------------------------------

@navbar-scroll-inner-shadow-size:  23px;
@navbar-scroll-default-inner-shadow-color: lighten(@gray-light, 20%);
@navbar-scroll-inverse-inner-shadow-color: lighten(@navbar-inverse-bg, 5%);
