//
// Variables
// --------------------------------------------------

// Navbar Scroll
// --------------------------------------------------

@nav-scroll-btn-transition:              ~"opacity .5s ease, background .3s ease";
@nav-scrollable-menu-padding-horizontal: 6px;
@nav-scrollable-menu-disabled-opacity:   0.4;
